*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/gradle.xml
/.idea/misc.xml
/.idea
app/src/main/res/raw/crucial.csv
app/src/main/res/raw/everything.csv
app/src/main/res/raw/general.csv
app/src/main/res/raw/poetic.csv
app/src/main/res/raw/idioms.csv